//ESSA CLASSE ZERA TODOS OS CONTENTBOX


.servicos-box{
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
}

.servicos-box-alt{
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    .translado-aereo{
        width: 80%;
    }
}


.parceiros-box{
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    }

.parceiros-page{
    .card{
        .card-button{
            display: none;
        }
        &:hover{
            .card-title{
                display: none;
            }
            .card-button{
                display: block;
            }
        }
    }
}


.noticias-box{
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
}


.unidades-box{
    background-color: #fff;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.51);
    .text-uppercase{
        font-weight: bolder;
        font-size: 30px;
        color: $azul-padrao;
    }
    .card-body{
        padding: 1px;
        margin-top: 10px; 
    }
    
    .card-title{
        position: relative;
        margin-top: -25px;
        margin-bottom: 0.75rem !important;
        margin-left: 0px;
        color: $azul-padrao;
    }
    .card-deck{
        margin-right: 10px;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .card{
        border: none;
    }
    .card-text{
    font-size: 14px;
    margin-bottom: 20px;
    }
    .btn{
        padding: 0;
        z-index: 1;
    }
    .btn-outline-info{
        border-radius: 20px;
        font-size: 10px;
        font-weight: bold;
        color: #000;
        border: 1px solid $azul-botao;
        text-transform: uppercase;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        &:hover{
            color: #fff;
            background-color: $azul-botao;
        }
    }
}

.contatos-box{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.51);
    input, textarea{
        &:focus{
            -webkit-box-shadow: inset 0px 26px 0px -23px rgba(0,0,0,0.15);
            -moz-box-shadow: inset 0px 26px 0px -23px rgba(0,0,0,0.15);
            box-shadow: inset 0px 26px 0px -23px rgba(0,0,0,0.15);
            outline: none;
        }
    }
}

.veja-noticias{
    .card{
        border: none;
    }
    .card-body{
        transition: opacity 0.5s;
        &:hover{
            opacity: 0.8;
            transition: opacity 0.5s;
        }
    }
    .card-title{
        margin-bottom: 0px;
    }
    .card-text{
        font-size: 14px;
    }
}