@media (min-width: 320px) and (max-width:425px){
    .btn{
        width: 100%;
        height: auto;
        border-radius: 0px;
    }
    .background-carousel{
        background-position-x: 50%;
    }
    .img-plano, .plano-caption-sub, .plano-caption{
        display: none;
    }

    .quebra-linha{
        display: block;
    }
    .text-cobertura{
        text-align: center;
    }

    .navbar-light .navbar-toggler {
        border-color: white;
    }
    .button-blue{
        padding-bottom: 27px;
        width: 100%;
        height: 100%;
    }
    .button-blue2{
        background-color: $azul-padrao;
        color: #fff;
        margin-top: 50px;
        padding-bottom: 27px;
        width: 100%;
    }
    .send{
        padding-bottom: 27px;
        height: auto; 
    }

    .img-fruid{
        overflow:hidden;
    }
    .button-light-blue{
        width: 100%;
        height: 100%;
    }
    .no-padmag{
        padding:0px!important;
        margin: 0px!important;
    }
    .no-mgbtn{
        padding-left: 0px;
    }
    .button-blue, .button-light-blue{
        span{
            font-size: 16px;
        }
        small{
            font-size: 80%;
        }
    }

    .dropdown{
        .nav-link{
            font-weight: bold;
            font-size: 14px;
            color: rgba(0,0,0,.5);
        }
    }

    nav{
    position: relative;
    }
    .navbar-nav {
        padding-left: 0px;
    }

    .carousel-control-next, .carousel-control-prev{
        display: none;
    }

    div{
        .osan{
            font-size: 60px;
        }
        .imp{
            font-size: 23px;
        }
        .plan{
            font-size: 17px;
        }

        .button-light-blue2{
            padding: 8px;
        }
    }


    .noticias{
        img{
            width: 101%;
        }
    }

    .background-duvidas{
        background-image: none;
        height: auto;
    }
    .background-noticias{
        background-image: none;
        height: auto;
        .searchbar {
            width: 100%;
        }
    }

    .mobile-noticias{
        height: 150px;
    }

    .background-contatos {
        background-image: none;
        height: auto;  
    }

    .data-noticias {
        margin-left: 0px;
    }

    .servicos{ 
        .card-deck {
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 0px;
        }
    }

    .unidades{
        .card-deck {
        margin-right: 10px;
        margin-bottom: 0;
        margin-left: 10px;
        }
    }
    .unidades-box .btn-outline-info {
        margin-left: 60%;
    }

    .slick-list {
        margin-left: 10px;
        margin-right: 10px;
    }
    .comentarios{
        .slick-next, .slick-prev{
            bottom: -30%;
        }
    }

    .slick-slide {
        img {
        display: none;
        }
    }
    
    .plano-caption-sub {
        display: none;
    }
}

@media (min-width: 426px) and (max-width: 768px){
    .btn{
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        border-radius: 0px;
    }
    .img-plano, .plano-caption-sub, .plano-caption{
        display: none;
    }

    .quebra-linha{
        display: block;
    }

    .img-fruid{
        overflow:hidden;
    }
    .button-light-blue2{
        width: 50%;
    }

    .background-carousel{
        background-position-x: 50%;
    }
    .navbar-light .navbar-toggler {
        border-color: white;
    }
    .background-duvidas{
        background-image: none;
        height: auto;
    }
    .background-noticias{
        background-image: none;
        height: auto;
        .searchbar {
            width: 100%;
        }
    }
    .background-depoimentos{
        background-image: none;
        height: auto;
    }
    .background-unidades{
        background-image: none;
        height: auto;
    }

    .background-contatos {
        background-image: none;
        height: auto;  
    }
    .background-servicos {
        background-image: none;
        height: auto;  
    }
    .no-padmag{
        padding:0px!important;
        margin: 0px!important;
    }
    .no-mgbtn{
        padding-left: 0px;
    }
    .button-blue, .button-light-blue{
        span{
            font-size: 16px;
        }
        small{
            font-size: 80%;
        }
    }

    .button-light-blue{
        height: 100%;
    }

    .unidades-box .btn-outline-info {
        margin-left: 60%;
    }
    nav{
    position: relative;
    }
    .navbar-nav {
        padding-left: 0px;
    }

    .carousel-control-next, .carousel-control-prev{
        display: none;
    }
    .mobile-noticias{
        height: 200px;
    }

    .carousel-item{
        width: 120%;
    }   

    div{
        .osan{
            font-size: 60px;
        }
        .imp{
            font-size: 23px;
        }
        .plan{
            font-size: 17px;
        }

        .button-light-blue2{
            padding: 8px;
        }
    }

    .noticias{
        img{
            width: 101%;
        }
    }

    .servicos{ 
        .card-deck {
            margin-right: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            padding: 0px;
        }
        .card-title{
        margin-top: 0px;
        font-size: 13px;
        }
    }

    .unidades{
        .card-deck {
            margin-right: 10px;
            margin-bottom: 0;
            margin-left: 10px;
        }
        .card-title{
            font-size: 16px;
        }
    }

    .slick-list {
        margin-left: 10px;
        margin-right: 10px;
    }
    .comentarios{
        .slick-next, .slick-prev{
            bottom: -50%;
        }
    }

    .slick-slide {
        img {
        display: none;
        }
    }
    .img-fluid{
        display: none;
    }
    .plano-caption{
        color: $azul-padrao;
    }
    .plano-caption-sub{
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    .carousel-caption {
        bottom: 0px;
    }
    .navbar-light .navbar-toggler {
        border-color: white;
    }
    .background-carousel{
        background-position-x: 50%;
    }
    .img-plano, .plano-caption-sub, .plano-caption{
        display: none;
    }
    .mobile-noticias {
        height: 200px;
    }
    .slick-next, .slick-prev{
        bottom: -37%;
    }

    .button-blue,.button-light-blue{
        width: 100%;
    }

    .quebra-linha{
        display: block;
    }
    .img-fruid{
        overflow:hidden;
    }
    .navbar-nav {
        padding-left: 0px;
    }
    div{
        .osan{
            font-size: 60px;
        }
        .imp{
            font-size: 23px;
        }
        .plan{
            font-size: 17px;
        }

        .button-light-blue2{
            padding: 8px;
        }
    }

    .col-lg-1{
        display: none;
    }

    .noticias{
        img{
            width: 101%;
        }
    }

    .h5, h5 {
        font-size: 0.99rem;
    }

    .servicos{ 
        .card-deck {
            margin-right: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            padding: 0px;
        }
        .card-title {
            font-size: 16px;
            font-weight: 600;
            white-space: nowrap;
        }
    }

    .unidades{
        .card-deck {
            margin-right: 10px;
            margin-bottom: 0;
            margin-left: 10px;
        }
    }

    .slick-list {
        margin-left: 10px;
        margin-right: 10px;
    }
    .comentarios{
        .slick-next, .slick-prev{
            bottom: -30%;
        }
    }

    .slick-slide {
        img {
        display: none;
        }
    }
}

