@mixin button-style ($bg-color, $before-img) {
    background-color: $bg-color;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    border-radius: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    margin: 1.5rem 1rem;
    &:hover {
      color: #eee;
    }
    .number-btn {
      font-size: 20px;
      font-weight: bold;
    }
    .text-btn {
        font-size: 0.8rem;
      &::before {
        content: "";
        background-image: $before-img;
        background-size: cover;
        width: 32px;
        height: 32px;
        position: relative;
        display: inline-block;
        top: 1rem;
        margin-right: 0.5rem;
      }
    }
  }