.caminho{
    padding-top: 20px;
}

.titulo{
    color: $azul-padrao;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 20px;
}
.sub-titulo{
    font-weight: lighter;
    font-size: 25px;
    color: #000;
}

.background-servicos{
    background-image: url('/images/unidades/background-unidades.png');
    height: auto;
    background-repeat: no-repeat;
    .pesquisa{
        font-weight: lighter;
        font-size: 14px;
        color: #000;
        margin-left: 90px;
    }
    .searchbar{
        background-color: #fff;
        border-radius: 30px;
        border: 2px solid $azul-padrao;
        width: 70%;
        }
    
        .search_input{
        color: $azul-botao;
        border: none;
        background: none;
        padding-left: 10px;
        width: 90%;
        line-height: 40px;
            &:focus{
                box-shadow: none;
                border: none;
                outline: none;
            }
        }
    
        .searchbar:hover{
        caret-color: #000;
        }
    
        .searchbar:hover > .search_icon{
        color: $azul-padrao;
        }
    
        .search_icon{
        height: 18px;
        width: 18px;
        float: right;
        padding-top: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $azul-padrao;
        text-decoration:none;
        }
}

.background-duvidas{
    background-image: url('/images/duvidas/background-duvidas.png');
    height: auto;
    background-repeat: no-repeat;
    background-position:top right;
}

.background-depoimentos{
    background-image: url('/images/depoimentos/background-depoimentos.png');
    height: auto;
    background-repeat: no-repeat;
}

.background-noticias{
    background-image: url('/images/noticias/background-noticias.png');
    height: auto;
    background-repeat: no-repeat;
    background-position:top right;
    .pesquisa{
        font-weight: lighter;
        font-size: 14px;
        color: #000;
        margin-left: 90px;
    }
    .searchbar{
        background-color: #fff;
        border-radius: 30px;
        border: 2px solid $azul-padrao;
        width: 70%;
        }
    
        .search_input{
        color: $azul-botao;
        border: none;
        background: none;
        padding-left: 10px;
        width: 90%;
        line-height: 40px;
            &:focus{
                box-shadow: none;
                border: none;
                outline: none;
            }
        }
    
        .searchbar:hover{
        caret-color: #000;
        }
    
        .searchbar:hover > .search_icon{
        color: $azul-padrao;
        }
    
        .search_icon{
        height: 18px;
        width: 18px;
        float: right;
        padding-top: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $azul-padrao;
        text-decoration:none;
        }
    }

.background-unidades{
    background-image: url('/images/unidades/background-unidades.png');
    height: auto;
    background-repeat: no-repeat;
}

.background-contatos{
    background-image: url('/images/contatos/background-contatos.png');
    height: auto;
    background-repeat: no-repeat;
    background-position:top right;
}