//
@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


$cor-principal: #FFF;
$cor-secundaria: #90bacf;
$azul-botao: #0f0082;
$borda-arredondada: 30px;
$azul-padrao: #3d4093;



// Includes 
@import 'mixins';
@import 'includes/header/index';
@import 'includes/footer/index';
@import 'indexstyle';
@import 'tituloaltpage';
@import 'boxcontent';
@import 'mediaview';




body{
    font-family: 'Open Sans', sans-serif;
}

.btn ,.img, button:focus {
    outline: none;
  }

.quebra-linha{
    flex-wrap: nowrap;
}

.background-carousel{
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.no-padmag{
    padding:0px!important;
    margin: 0px!important;
}
.container-fluid{
    margin-left: none;
    margin-right: none;
    padding-right: 0px;
    padding-left: 0px;
}

.text-osan{
    color: $azul-padrao;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
body{
    background-color: $cor-principal;
}

.button-top{
    background-color: $azul-botao;
    border-radius: $borda-arredondada;
}

.bg-light{
    background-color: $cor-principal;
}

ul{
    li{
        .nav-icon{
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.img-fluid {
    width: 100%;
}

.text-planos{
    font-size: 15px;
    line-height: 1.2;
}
.text-planos-list{
    font-size: 15px;
    line-height: 1.9;
}

.plano-caption{
    position: absolute;
    left: 90px;
    top: 80px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.plano-caption-sub{
    position: absolute;
    left: 150px;
    top: 130px;
    font-size: 30px;
    color: #fff;
}

.panel{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    .panel-heading{
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        .icone-aberto {
            display: none;
        }
        .icone-fechado {
            display: block;
        }
        &[aria-expanded="false"] {
            .icone-aberto {
                display: none;
            }
            .icone-fechado {
                display: block;
            }
        }
        &[aria-expanded="true"] {
            .icone-aberto {
                display: block;
            }
            .icone-fechado {
                display: none;
            }
        }
    }
    .panel-title{
        font-size: 22px;
        color: $azul-padrao;
    }
    .panel-body{
        p{
            margin-left: 20px;
            padding-bottom: 20px;
        }
    }
}

.nav-pages{
    margin-top: 50px;
    .page-link{
        border: none;
        &:hover{
            background-color: $azul-padrao;
            color: white;
        }
    }
    .page-link{
        border-radius: 30px!important;
    }
}

.servicos-page{
    .card-deck{
        margin-right: 0px !important;
        margin-bottom: 0 !important;
        margin-left: 0px !important;
    }
}

.parceiros-page{
    .card-group{
        margin-right: 10px !important;
        margin-bottom: 0 !important;
        margin-left: 10px !important;
    }
    .card-img-top{
        width: 40%;
    }
}

.new-noticias{
    .card {
        border: none;
    }
    .btn {
        color: $azul-botao;
        border: 2px solid $azul-padrao;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 1.0;
        border-radius: .25rem;
        font-weight: bold;
    }
    .btn-outline-dark:hover {
        color: #fff;
        background-color: $azul-botao;
    }
}

.titulo-noticias{
    color: #3d4093;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 0px;
    padding-top: 0px;
}
.data-noticias{
    margin-left: 180px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.text-list{
    font-size: 15px;
    li{
        text-transform: none;
        display: inherit;
        justify-content: space-between;
        padding: 5px;
    }
    .fas{
        color: $azul-padrao;
    }
}

.quebra-linha{
    .fas{
        outline-offset: $azul-padrao;
    }
}





