//ESSA CLASSE ZERA TODOS OS CONTENTBOX


.noticias-box{
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.12);
}


.screen-reader-text{
    display: none;
}

//Paginação

.pagination{
    justify-content: center;
    margin: 1rem auto;
    .page-numbers{
        margin: 0 0.05rem;
        padding: 0.5rem;
        text-decoration: none;
        border-radius: 5rem;
        color: black;
        &:hover{
            background-color: #3d4093;
            color: white;
        }
    }
    .next{
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 5rem;
        &:hover{
            background-color: #3d4093;
            color: white;
        }
    }
}