.footer-links{
    a{
        color: #555;
        font-size: 0.8rem;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
}

.link-item{
    letter-spacing: 0.05em;
    line-height: 0.8rem;
    color: #333;
}

.developed-by{
    font-size: 0.8rem;
}


.footer-tel{
    .btn{
        width: 100%;
        background-color: transparent;
        &:focus{
            outline: none;
        }
    }

    .btn-blue{
        background-color: lightblue;
        border-radius: 5rem;
        color: white;
        text-transform: uppercase;
    }

    .btn-whats{
        
    }

    .btn-call{

    }
}