.area-cliente{
    color: #000;
    font-size: 0.8rem;
        &:hover{
        color: $azul-padrao;
        text-decoration: none;
        }
}


.button-blue{
    background-color: $azul-padrao;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    border-radius: 50rem;
        &:hover{
            color: #eee;
        }
        span{
            font-size: 20px;
            font-weight: bold;
        }
        &::before{
            content: '';
            background-image: url('../images/phone.png');
            background-size: cover;
            width: 32px;
            height: 32px;
            display: block;
            min-width: 32px;
        }
        .text-btn{
            font-size: 14px;
        }
}



.button-light-blue{
    background-color: #90bacf;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    border-radius: 50rem;
        &:hover{
            color: #eee;
        }
        span{
            font-size: 20px;
            font-weight: bold;
        }
        &::before{
            content: '';
            background-image: url('../images/whatsapp.png');
            width: 32px;
            background-size: cover;
            height: 32px;
            margin-right: 0.5rem;
            display: block;
            min-width: 32px;
        }
        .text-btn{
            font-size: 14px;
        }
}

.button-light-white{
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    border-radius: 50rem;
    &::before{
        content: '';
        background-image: url('../images/whatsapp-blue.png');
        width: 32px;
        background-size: cover;
        height: 32px;
        margin-right: 0.5rem;
        display: block;
        min-width: 32px;
    }
}


.navbar{
    padding: 0px;
    .nav-item{
        font-size: 14px;
        font-weight: bold;
        .nav-link{
            color: $azul-padrao;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}

.navbar-nav{
    white-space: nowrap;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
}

ul {
    padding:0;
    list-style:none;
    width:100%;
    margin:0 auto;
    li {
        text-transform: uppercase;
        display: flex;
        justify-content:space-between;
        padding: 5px; 
    }
    .dropdown-menu{
        background-color: $azul-padrao;
        .dropdown-item{
            color: #fff;
            text-transform:initial;
            &:hover{
                background-color: $azul-botao;
            }
        }
        
    }
}