.caminho{
    font-size: 0.8rem;
}

.titulo{
    color: #3d4093;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 20px;
}

.searchbar{
    background-color: #fff;
    border-radius: 30px;
    border: 2px solid #3d4093;
    width: 70%;
}

.search_input {
    color: #0f0082;
    border: none;
    background: none;
    padding-left: 10px;
    width: 90%;
    line-height: 40px;
    outline: none;
}

.search_icon {
    height: 18px;
    width: 18px;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #3d4093;
    text-decoration: none;
}

// Noticias
.new-noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (max-width: 991.98px){
        flex-direction: column;
        align-items: center;
    }
}

.date-post{
    margin-bottom: 0.5rem;
}

.card{
    width: 33%;
    border: none;
    @media screen and (max-width: 991.98px){
        width: 50%;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-title{
        color: black;
        font-weight: lighter;
        font-size: 1.2rem;
        text-decoration: none;
    }
    .btn {
        color: #0f0082;
        border: 2px solid $azul-padrao;
        margin-top: 1rem;
        font-size: 0.8rem;
        line-height: 1.0;
        border-radius: 20rem;
        font-weight: bold;
        display: block;
        text-transform: uppercase;
    }

    .btn-outline-dark {
        display: block;
        margin-right: auto;
        .post-link{
            color: #0f0082;
            text-decoration: none;
        }
        &:hover{
            background-color: #0f0082;
            .post-link{
                color: white;
            }
        }
    }

    .card-text{
        color: #777;
        text-decoration: none;
    }
}



