.article-title{
    color: #3d4093;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.article-img{
    width: 100%;
}

.article-content{
    font-size: 1.2rem;
    font-weight: lighter;
    margin-top: 1rem;
}

.read-too{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.single-deck{
    @media screen and (max-width: 769.98px) {
        align-items: center;
    }
    .card-title{
        color: #3d4093;
        font-weight: bold;
        text-align: center;
    }
}
