//
@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


$cor-principal: #FFF;
$azul-botao: #0f0082;
$borda-arredondada: 30px;
$azul-padrao: #3d4093;

@import 'posts';
@import 'single';
@import 'header';
@import 'footer';
@import 'indexstyle';
@import 'tituloaltpage';
@import 'boxcontent';
@import 'mediaview';

body{
    font-family: 'Open Sans', sans-serif;
}

.btn ,.img, button:focus {
    outline: none;
}


.no-padmag{
    padding:0px!important;
    margin: 0px!important;
}


.text-osan{
    color: $azul-padrao;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
body{
    background-color: $cor-principal;
}

.button-top{
    background-color: $azul-botao;
    border-radius: $borda-arredondada;
}

.bg-light{
    background-color: $cor-principal;
}



.titulo-noticias{
    color: #3d4093;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 0px;
    padding-top: 0px;
}
.data-noticias{
    margin-left: 180px;
    padding-top: 0px;
    padding-bottom: 0px;
}







