.header-style {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .button-blue {
    @include button-style($azul-padrao, url("../images/phone.png"));
  }
  .button-light-blue {
    @include button-style($cor-secundaria, url("../images/whatsapp.png"));
  }
}

.area-cliente {
  color: #000;
  &:hover {
    color: $azul-padrao;
    text-decoration: none;
  }
}

.navbar {
  padding: 0px;
  .nav-item {
    font-size: 14px;
    font-weight: bold;
    .nav-link {
      color: $azul-padrao;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.navbar-nav {
  white-space: nowrap;
  padding-right: 0px;
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  li {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  .dropdown-menu {
    background-color: $azul-padrao;
    .dropdown-item {
      color: #fff;
      text-transform: initial;
      &:hover {
        background-color: $azul-botao;
      }
    }
  }
}
